body {
    background-image: url('img/bg.png');
    background-size: 80%;
    background-repeat: repeat;
}

a {
    color: inherit;
    text-decoration: none;
}

#problemText {
    margin: 3%;
    border: 1px solid black;
    background-color: #308ACB;
    box-shadow: 3px 3px dimgray;
}

#problemText p{
    margin-left: 2%;
    margin-top: 1%;
}

#problemsTable {
    background-color: lightgray;
    background-blend-mode: darken;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 15px;
}

#usersRanking {
    background-color: lightgray;
    background-blend-mode: darken;
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #ddd;
    font-size: 15px;
    text-align: center;
}

#problemBox {
    color: white;
    background-color: #308ACB;
    border-radius: 3px;
    border: 1px solid black;
    padding: 20px;
    margin-left: 7%;
}

#correct-answer {
    background-color: #308ACB;
    border: 1px solid black;
    border-radius: 3px;
    margin: 3%;
    padding: 10px;
    color: white;
    text-align: center;
    word-wrap: break-word;
}

#community-on {
    padding: 6px;
    background-color: #0060a5;
}

#community-off {
    padding: 6px;
    background-color: #308ACB;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#problemsTable tr {
    border-bottom: 1px solid #ddd;
}

#problemsTable th, #problemsTable td {
    text-align: left;
    padding: 5px;
}

#problemsTable tr.tableHeader, #problemsTable tr:hover {
    background-color: #f1f1f1;
}

.tableHeader {
    width: 40%;
    text-align: center;
}

#bodyTitles {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 2px;
    background-color: #0060a5;
    width: 15%;
    padding: 5px;
    text-align: center;
}

#topUsers {
    margin-top: 9%;
    margin-bottom: 3%;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 2px;
    background-color: #0060a5;
    width: 30%;
    padding: 5px;
    text-align: center;
}

#sign-in-title {
    font-size: 20px;
    text-align: right;
    padding-left: 70%;
    padding-top: 10%;
}

.registration-container {
    border-radius: 5px;
    background-color: #0060a5;
    margin-left: 34.5%;
    margin-top: 12.5%;
    width: 30%;
    color: white;
    padding-bottom: 1.5%;
    align-content: center;
}

#sign-in-button {
    margin-top: 8%;
    margin-left: 7%;
}

#site-body {
    margin-top: 5%;
    margin-left: 2%;
}

#filters {
    margin-left: 2%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Arbutus Slab', serif;
    font-size: 15px;
}

#problemTitle {
    margin: 3%;
    background-color: #308ACB;
    border: 1px solid black;
    padding-left: 1.7%;
    padding-top: 0.2%;
    color: white;
    box-shadow: 3px 3px dimgray;
}

#top-header {
    background-color: #0060a5;
    height: 10vh;
    padding-top: 7px;
}

#top-header-text {
    font-family: 'Arbutus Slab', serif;
    color: white;
    font-size: 38px;
    font-weight: bold;
    padding-left: 10px;
}

#menu {
    height: 5vh;
    font-size: 13px;
    text-align: center;
    color: white;
}

#home-on {
    padding: 6px;
    background-color: #0060a5;
}

#home-off {
    padding: 6px;
    background-color: #308ACB;
}

#problems-on {
    padding: 6px;
    background-color: #0060a5;
}

#problems-off {
    padding: 6px;
    background-color: #308ACB;
}

#contests-on {
    padding: 6px;
    background-color: #0060a5;
}

#contests-off {
    padding: 6px;
    background-color: #308ACB;
}

#sign_in_button {
    margin-top: 7%;
    margin-left: 7.7%;
}

/* #################### SIGN IN BUTTON ####################*/
.sign-in {
    color: #FFFFFF; 
    background-color: #0060A5; 
    border-color: #FFFFFF;
    border-radius: 3.5px;
    border-style: solid;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    margin-top: 10px;
    text-decoration: none;
} 
 
.sign-in:hover, 
.sign-in:focus, 
.sign-in:active, 
.sign-in.active, 
.open .dropdown-toggle.sign-in { 
    color: #FFFFFF; 
    background-color: #004B80; 
    border-color: #FFFFFF;
    text-decoration: none;
} 
 
.sign-in:active, 
.sign-in.active, 
.open .dropdown-toggle.sign-in { 
    background-image: none; 
} 
 
.sign-in.disabled, 
.sign-in[disabled], 
fieldset[disabled] .sign-in, 
.sign-in.disabled:hover, 
.sign-in[disabled]:hover, 
fieldset[disabled] .sign-in:hover, 
.sign-in.disabled:focus, 
.sign-in[disabled]:focus, 
fieldset[disabled] .sign-in:focus, 
.sign-in.disabled:active, 
.sign-in[disabled]:active, 
fieldset[disabled] .sign-in:active, 
.sign-in.disabled.active, 
.sign-in[disabled].active, 
fieldset[disabled] .sign-in.active { 
    background-color: #0060A5; 
    border-color: #FFFFFF; 
} 
 
.sign-in .badge { 
    color: #0060A5; 
    background-color: #FFFFFF; 
}

/* #################### SIGN UP BUTTON ####################*/
.sign-up {
    margin-top: 6px;
    color: #0060A5; 
    background-color: #FFFFFF; 
    border-color: #0060A5;
    border-radius: 3.5px;
    border-style: solid;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    margin-top: 10px;
    text-decoration: none;
} 

.problem {
    margin-top: 6px;
    color: #0060A5; 
    background-color: #FFFFFF; 
    border-color: #0060A5;
    border-radius: 3.5px;
    border-style: solid;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 32px;
    text-align: center;
    line-height: 1.6;
    margin-top: 10px;
    text-decoration: none;  
} 

.sign-up:hover, 
.sign-up:focus, 
.sign-up:active, 
.sign-up.active, 
.open .dropdown-toggle.sign-up { 
    color: #FFFFFF; 
    background-color: #004B80; 
    border-color: #0060A5;
    text-decoration: none;
} 
 
.sign-up:active, 
.sign-up.active, 
.open .dropdown-toggle.sign-up { 
    background-image: none; 
} 
 
.sign-up.disabled, 
.sign-up[disabled], 
fieldset[disabled] .sign-up, 
.sign-up.disabled:hover, 
.sign-up[disabled]:hover, 
fieldset[disabled] .sign-up:hover, 
.sign-up.disabled:focus, 
.sign-up[disabled]:focus, 
fieldset[disabled] .sign-up:focus, 
.sign-up.disabled:active, 
.sign-up[disabled]:active, 
fieldset[disabled] .sign-up:active, 
.sign-up.disabled.active, 
.sign-up[disabled].active, 
fieldset[disabled] .sign-up.active { 
    background-color: #FFFFFF; 
    border-color: #0060A5; 
} 
 
.sign-up .badge { 
    color: #FFFFFF; 
    background-color: #0060A5; 
}

/* DROPDOWN CHECKLIST */
.dropdown-check-listA {
  display: inline-block;
  margin-top: 6%;
}

.dropdown-check-listB {
  display: inline-block;
  margin-top: 6%;
}

.dropdown-check-listC {
  display: inline-block;
  margin-top: 6%;
}

.dropdown-check-listD {
  display: inline-block;
  margin-top: 6%;
}

.dropdown-check-listA .anchorA {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid black;
}
.dropdown-check-listA .anchorA:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-listA .anchorA:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-listB .anchorB {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid black;
}
.dropdown-check-listB .anchorB:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-listB .anchorB:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-listC .anchorC {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid black;
}
.dropdown-check-listC .anchorC:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-listC .anchorC:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-listD .anchorD {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid black;
}

.dropdown-check-listD .anchorD:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-listD .anchorD:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-listA ul.itemsA {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-listA ul.itemsA li {
  list-style: none;
}

.dropdown-check-listB ul.itemsB {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-listB ul.itemsB li {
  list-style: none;
}

.dropdown-check-listC ul.itemsC {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-listC ul.itemsC li {
  list-style: none;
}

.dropdown-check-listD ul.itemsD {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-listD ul.itemsD li {
  list-style: none;
}